# ------ Hub ------
APP_URL=https://... # Public URL of the Hub

# Do not change this value, as it is also used for DB field encryption.
APP_SECRET= # Use: openssl rand -base64 42

# ------ Agent ------
HUB_URL=https://... # Public URL of the Hub, should be the same as APP_URL

AUTH_TOKEN= # Create a token in the Hub UI and use it here

# ------ Aikido Zen ------
AIKIDO_TOKEN=
