# Example ENV file for development (not for production use!)

# Hub
APP_URL=http://localhost:3000
PORT=8080
HOST=127.0.0.1
APP_SECRET=
DISABLE_UI=true
ALLOWED_INTERNAL_IPS=

# Aikido Zen Firewall
AIKIDO_TOKEN=

# Agent
HUB_URL=http://localhost:8080/
AUTH_TOKEN=
DEPLOYMENTS_DIR=./data/agent/deployments
